services:
  laravel-app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: laravel-app
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
    environment:
      - DB_CONNECTION=pgsql
      - DB_HOST=host.docker.internal
      - DB_PORT=5432
      - DB_DATABASE=mqtt_db
      - DB_USERNAME=mqtt_user
      - DB_PASSWORD=secret123
    networks:
      - app-net

  laravel-nginx:
    image: nginx:alpine
    container_name: laravel-nginx
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - laravel-app
    networks:
      - app-net

  react-app:
    image: node:20
    container_name: react-app
    working_dir: /app
    volumes:
      - ./frontend:/app
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0 --port 5173"
    ports:
      - "5173:5173"
    networks:
      - app-net
      
  postgres:
    image: postgres:15
    container_name: pg-mqtt
    environment:
      POSTGRES_USER: mqtt_user
      POSTGRES_PASSWORD: secret123
      POSTGRES_DB: mqtt_db
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    networks:
      - app-net      

networks:
  app-net:
    driver: bridge
volumes:
  pgdata:
